// colors
$accent-color: #A244FF;
$black: #000;
$white: #fff;
$grey: #676767;
$dark-grey: #404040;

$box-shadow-white-25: rgba(255,255,255,0.25);

// breakpoints
$tablet-768-up: 'only screen and (min-width: 768px)';
$desktop-1024-up: 'only screen and (min-width: 1024px)';
$desktop-1400-up: 'only screen and (min-width: 1400px)';
$desktop-1900-up: 'only screen and (min-width: 1900px)';