@import './src/styles/variables';

.root {
  width: 13rem;
  margin: 2rem 1rem;
  text-align: left;

  @media #{$tablet-768-up} {
    width: 15rem;
  }

  @media #{$desktop-1024-up} {
    width: 16rem;
  }
}

.image {
  width: 13rem;
  height: 22rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem $box-shadow-white-25;
  border: 0.1rem solid $white;
  cursor: pointer;

  @media #{$tablet-768-up} {
    width: 15rem;
    height: 24rem;
  }

  @media #{$desktop-1024-up} {
    width: 16rem;
    height: 25rem;
  }
}

.title {
  font-size: 1.8rem;
  color: $white;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.rating {
  color: $accent-color;
}

.svg {
  margin: 0 0.1rem;

  &:first-of-type,
  &:last-of-type {
    margin: 0;
  }
}

.year {
  font-size: 1.6rem;
  margin: 0.5rem 0;
}